# Игнорируем временные файлы Vivado
*.log
*.jou
*.str
*.pb
*.tmp
*.bak
*.dmp
*.d
*.out

# Игнорируем автоматически создаваемые папки Vivado
ALU.cache/
ALU.hw/
ALU.ip_user_files/
ALU.sim/

# Игнорируем файл проекта Vivado (его можно воссоздать из исходников)
ALU.xpr

# Игнорируем временные файлы редакторов
*.swp
*.swo
.vscode/
.idea/
